{% extends 'layout/base.html' %}
{% load static %}
{% block content %}

<!-- Daftar Laporan -->
<section class="content-section bg-light" id="about">
  <div class="container text-center">
    <h2 class="mx-auto mb-5">Daftar Laporan</h2>
    <table id ="dtBasic" class="table text-center table-hover ">
        <thead class="thead-dark">
          <tr>
            <th scope="col">No</th>
            <th scope="col">ID Laporan</th>
            <th scope="col">Tanggal Pinjam</th>
            <th scope="col">Anggota</th>
            <th scope="col">Denda</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
            {% for i in laporan %}
            <tr>
              <th scope="row" class="counterCell"></th>
              <td>{{i.1}}</td>
              <td>{{i.3}}</td>
              <td>{{i.2}}-{{i.0}}</td>
              <td>{{i.5}}</td>
              <td>{{i.4}}</td>
            </tr>
           {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</section>

{% endblock content %}