{% extends 'layout/base.html' %}
{% load static %}
{% block content %}
{% if request.session.role == "anggota" %}

<script>
    $(document).ready(function(){
      window.location.href="/"
    })
  </script>
  {% elif request.session.role == "petugas" %}
  <script>
      $(document).ready(function(){
        window.location.href="/"
      })
    </script>
  {% endif %}

<head>
  <style>
    .roundedrec {
      border-radius: 10px;
      background: #FFFFFF;
      box-shadow: 0px 0px 10px 0.1px rgba(116, 116, 116, 0.1);
      margin-top: 17px;
      margin-bottom: 17px;
    }

    .insiderec {
      padding: 30px;
    }
  </style>
</head>

<!-- Login -->
<section class="content-section bg-light" id="about">
    {% if messages %}
    {% for message in messages %}
    <div class="alert {{ message.tags }} alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="w3-text-red">{{ message }}</div>
    </div>
  {% endfor %}
  {% endif %}

  <div class="container text-center">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <h2>Login here!</h2>
        <div class="roundedrec">
          <div class="insiderec">
            <form id="form" method="POST" action="{% url 'postLogin' %}">
                    {% csrf_token %}
                    <div class="form-label-group">
                        <label for="inputKTP">No KTP :</label>
                      <input name="ktp" type="text" id="inputKTP" class="form-control" placeholder="No KTP" required>
          
                    </div>
                    <div class="form-label-group">
                        <label for="inputEmail">Email :</label>
                      <input name="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required
                        autofocus>
                      <br>
                    </div>
                      <button type="submit" class="btn btn-primary btn-xl">Log in</button>
                      <a href="{% url 'user' %}" class="btn btn-xl btn-dark">Sign Up</a>
                    </div>
                    
                    <br>
                  </form>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}