{% extends 'layout/base.html' %}
{% load static %}
{% block content %}

<head>
    <style>
        .roundedrec {
            border-radius: 10px;
            background: #FFFFFF;
            box-shadow: 0px 0px 10px 0.1px rgba(116, 116, 116, 0.1);
            margin-top: 17px;
            margin-bottom: 17px;
        }

        .insiderec {
            padding: 30px;
        }
    </style>

</head>

<!-- Form Petugas -->
<section class="content-section bg-light" id="about">
    {% if messages %}
    {% for message in messages %}
    <div class="alert {{ message.tags }} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <div class="w3-text-red">{{ message }}</div>
    </div>
    {% endfor %}
    {% endif %}

    <div class="container text-center">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <h2>You're an Employee? Register here!</h2>
                <div class="roundedrec">
                    <div class="insiderec">
                        <form id="form" method="POST" action="{% url 'postPetugas' %}">
                            {% csrf_token %}
                            <div class="form-label-group">
                                <label for="inputKTP">No KTP :</label>
                                <input name="ktp" type="text" id="inputKTP" class="form-control" placeholder="No KTP"
                                    required>
                            </div>
                            <div class="form-label-group">
                                <label for="inputNama">Nama :</label>
                                <input name="nama" type="text" id="inputNama" class="form-control"
                                    placeholder="Nama Lengkap" required>
                            </div>
                            <div class="form-label-group">
                                <label for="inputEmail">Email :</label>
                                <input type="email" name="email" id="inputEmail" class="form-control"
                                    placeholder="Email address" required autofocus>
                            </div>

                            <div class="form-label-group">
                                <label for="inputHP">No HP :</label>
                                <input type="text" name="hp" id="inputHP" class="form-control" placeholder="No HP"
                                    required>
                            </div>
                            <div class="form-label-group">
                                <label for="inputTgl">Tanggal Lahir :</label>
                                <input type="date" name="tanggal" id="inputTgl" class="form-control"
                                    placeholder="Tanggal Lahir" required>
                            </div>
                            <div class="form-label-group">
                                <label for="inputAlamat">Alamat :</label>
                                <input type="text" name="alamat" id="inputAlamat" class="form-control"
                                    placeholder="Alamat" required>
                            <br>
                            </div>
                            <button type="submit" class="btn btn-primary btn-xl">Sign Up</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>

{% endblock content %}
