{% extends 'layout/base.html' %}
{% load static %}
{% block content %}

<!-- Riwayat Transaksi -->
<section class="content-section bg-light" id="about">
  <div class="container text-center">
    <h2 class="mx-auto mb-5">Riwayat Transaksi</h2>
    <table id="dtBasic" class="table text-center table-hover ">
      <thead class="thead-dark">
        <tr>
          <th scope="col">No</th>
          <th scope="col">Tanggal</th>
          <th scope="col">Jenis Transaksi</th>
          <th scope="col">Nominal</th>
        </tr>
      </thead>
      <tbody>
        {% for i in transaksi %}
        <tr>
          <th scope="row" class="counterCell"></th>
          <td>{{i.0}}</td>
          <td>{{i.1}}</td>
          <td>{{i.2}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  </div>
</section>

{% endblock content %}
