{% extends 'layout/base.html' %}
{% load static %}
{% block content %}

<head>
  <style>
    .roundedrec {
      border-radius: 10px;
      background: #FFFFFF;
      box-shadow: 0px 0px 10px 0.1px rgba(116, 116, 116, 0.1);
      margin-top: 17px;
      margin-bottom: 17px;
    }

    .insiderec {
      padding: 30px;
    }
  </style>

</head>

<!-- Top up transaksi -->
<section class="content-section bg-light" id="about">
    {% if messages %}
    {% for message in messages %}
    <div class="alert {{ message.tags }} alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="w3-text-red">{{ message }}</div>
    </div>
  {% endfor %}
  {% endif %}

  <div class="container text-center">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <h2>Top up here!</h2>
        <div class="roundedrec">
          <div class="insiderec">
              <form id="form" method="POST" action="{% url 'postTopup' %}">
                  {% csrf_token %}
                  <div class="form-label-group">
                      <input type="number" min='0' name="topup" id="inputNominal" class="form-control" placeholder="Nominal" required>
                  </div>
                  <br>
                  <button type="submit" class="btn btn-primary btn-xl">Submit</button>
              </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}