{% extends 'layout/base.html' %}
{% load static %}
{% block content %}

<!-- Opsi Transaksi -->
<section class="content-section bg-primary text-white">
  <div class="container text-center">
    <h2 class="mb-4">Choose One!</h2>
    <a href="{% url 'top_up' %}" class="btn btn-xl btn-light mr-4">Top up</a>
    <a href="{% url 'riwayat' %}" class="btn btn-xl btn-dark">Riwayat Transaksi</a>
  </div>
</section>

{% endblock content %}
