{% extends 'layout/base.html' %}
{% load static %}
{% block content %}

<!-- Roles -->
<section class="content-section bg-primary text-white text-center" id="services">
  <div class="container">
    <div class="content-section-heading">
      <h3 class="text-secondary mb-0">Users</h3>
      <h2 class="mb-5">What Role Are You?</h2>
    </div>
    <div class="row">
      <div class="col-lg-7 col-md-6 mb-5 mb-lg-0">
        <span class="service-icon rounded-circle mx-auto mb-3">
          <i class="icon-pencil"></i>
        </span>
        <a href="{% url 'anggota' %}" <h4 style="color: white"> <strong>Anggota</strong> </h4>
        </a>
        <p class="text-faded mb-0">Members of bikesharing</p>
      </div>
      <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
        <span class="service-icon rounded-circle mx-auto mb-3">
          <i class="icon-screen-smartphone"></i>
        </span>
        <a href="{% url 'petugas' %}" <h4 style="color: white"> <strong>Petugas</strong> </h4>
        </a>
        <p class="text-faded mb-0">The station officer</p>
      </div>
    </div>
  </div>
</section>

{% endblock content %}
