{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>BikeSharing | D3</title>

  <!-- Bootstrap Core CSS -->
  <link type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  <link type="text/css" href="{% static 'vendor/simple-line-icons/css/simple-line-icons.css' %}" rel="stylesheet">

  <!-- Custom CSS -->
  <link type="text/css" href="{% static 'css/stylish-portfolio.min.css' %}" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navbar -->
  <a class="menu-toggle rounded" href="#">
    <i class="fas fa-bars"></i>
  </a>
  <nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a class="js-scroll-trigger" href="#page-top"><img src="https://i.ibb.co/7kGQx4c/Bike-Sharinglogo.png" alt="Bike-Sharinglogo" border="0" height="100%" width="100%"></a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#page-top">Home</a>
      </li>
      <!-- <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#about"></a>
      </li> -->
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#portfolio">Our Services</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#services">Our Team</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#contact">Contact</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="{% url 'login' %}">Login</a>
      </li>
    </ul>
  </nav>

  <!-- Header -->
  <header class="masthead d-flex">
    <div class="container text-center my-auto">
      <h1 class="mb-1">THE LARGEST BIKE <br>RENTAL IN ASIA</h1>
      <h3 class="mb-5">
        <em>Be Happy and Ride Bike Easily!</em>
      </h3>
      <!-- <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">SIGN UP HERE</a> -->
    </div>
    <div class="overlay"></div>
  </header>

  <!-- Keterangan Tambahan -->
  <section class="content-section bg-light" id="about">
    <div class="container text-center">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <h2>Our platform provides good bike with high quality service</h2>
          <p class="lead mb-5">easy payment, ready to use!</p>
            <!-- <a href="https://unsplash.com/">Unsplash</a></p> -->
          <!-- <a class="btn btn-dark btn-xl js-scroll-trigger" href="#">Sign Up Here</a> -->
          <a class="btn btn-dark btn-xl js-scroll-trigger" href="{% url 'login' %}">Login</a>
        </div>
      </div>
    </div>
  </section>

  <!-- Callout -->
  <!-- <section class="callout">
    <div class="container text-center">
      <h2 class="mx-auto mb-5">Welcome to
        <em>your</em>
        next website!</h2>
      <a class="btn btn-primary btn-xl" href="https://startbootstrap.com/template-overviews/stylish-portfolio/">Download Now!</a>
    </div>
  </section> -->

  <!-- Our Services (attribute) -->
  <section class="content-section" id="portfolio">
    <div class="container">
      <div class="content-section-heading text-center">
        <h3 class="text-secondary mb-0">Services</h3>
        <h2 class="mb-5">What We Provide</h2>
      </div>
      <div class="row no-gutters">

        <div class="col-lg-6">
          <a class="portfolio-item" href="#">
            <span class="caption">
              <span class="caption-content">
                <h2 style="font-size:30px">TRANSAKSI</h2>
                <!-- <p class="mb-0">A yellow pencil with envelopes on a clean, blue backdrop!</p> -->
              </span>
            </span>
            <img class="img-fluid" src="static/img/rent.jpg" alt="">
          </a>
        </div>

        <div class="col-lg-6">
          <a class="portfolio-item" href="{% url 'createpetugas' %}">
            <span class="caption">
              <span class="caption-content">
                <h2 style="font-size:30px">PENUGASAN</h2>
                <!-- <p class="mb-0">A dark blue background with a colored pencil, a clip, and a tiny ice cream cone!</p> -->
              </span>
            </span>
            <img class="img-fluid" src="static/img/portfolio-2.jpg" alt="">
          </a>
        </div>

        <div class="col-lg-6">
          <a class="portfolio-item" href="{% url 'listsacara' %}">
            <span class="caption">
              <span class="caption-content">
                <h2 style="font-size:30px">ACARA</h2>
                <!-- <p class="mb-0">Strawberries are such a tasty snack, especially with a little sugar on top!</p> -->
              </span>
            </span>
            <img class="img-fluid" src="static/img/avengers.jpg" alt="">
          </a>
        </div>

        <div class="col-lg-6">
          <a class="portfolio-item" href="{% url 'daftarStasiun' %}">
            <span class="caption">
              <span class="caption-content">
                <h2 style="font-size:30px">STASIUN</h2>
                <!-- <p class="mb-0">A yellow workspace with some scissors, pencils, and other objects.</p> -->
              </span>
            </span>
            <img class="img-fluid" src="static/img/station-1.jpg" alt="">
          </a>
        </div>

        <div class="col-lg-6">
          <a class="portfolio-item" href="{% url 'daftarSepeda' %}">
            <span class="caption">
              <span class="caption-content">
                <h2 style="font-size:30px">SEPEDA</h2>
                <!-- <p class="mb-0">A yellow pencil with envelopes on a clean, blue backdrop!</p> -->
              </span>
            </span>
            <img class="img-fluid" src="static/img/portfolio-5.jpg" alt="">
          </a>
        </div>

        <div class="col-lg-6">
          <a class="portfolio-item" href="#">
            <span class="caption">
              <span class="caption-content">
                <h2 style="font-size:30px">PEMINJAMAN</h2>
                <!-- <p class="mb-0">A yellow pencil with envelopes on a clean, blue backdrop!</p> -->
              </span>
            </span>
            <img class="img-fluid" src="static/img/portfolio-6.jpg" alt="">
          </a>
        </div>

        <div class="col-lg-6">
          <a class="portfolio-item" href="#">
            <span class="caption">
              <span class="caption-content">
                <h2 href="/voucher/" style="font-size:30px">VOUCHER</h2>
                <!-- <p class="mb-0">A yellow pencil with envelopes on a clean, blue backdrop!</p> -->
              </span>
            </span>
            <img class="img-fluid" src="static/img/portfolio-7.jpg" href="/voucher/" alt="">
          <!--   <a href="/voucher/">Voucher<a> -->
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- Our Team -->
  <section class="content-section bg-primary text-white text-center" id="services">
    <div class="container">
      <div class="content-section-heading">
        <!-- <h3 class="text-secondary mb-0">Services</h3> -->
        <h2 class="mb-5">Meet Our Team</h2>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <img class="img-fluid mb-3" src="static/img/user.png" href="" alt="">
            <!-- <i class="icon-screen-smartphone"></i> -->
          </span>
          <h4>
            <strong>Rafika Balqis</strong>
          </h4>
          <p class="text-faded mb-0">Looks great!</p>
        </div>
        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <img class="img-fluid mb-3" src="static/img/user.png" href="" alt="">
            <!-- <i class="icon-pencil"></i> -->
          </span>
          <h4>
            <strong>Taliza Ayu</strong>
          </h4>
          <p class="text-faded mb-0">Freshly fresh</p>
        </div>
        <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <!-- <i class="icon-like"></i> -->
            <img class="img-fluid mb-3" src="static/img/user.png" href="" alt="">
          </span>
          <h4>
            <strong>Bramantio Aji</strong>
          </h4>
          <p class="text-faded mb-0">Millions of users trust us</p>
        </div>
        <div class="col-lg-3 col-md-6">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <!-- <i class="icon-mustache"></i> -->
            <img class="img-fluid mb-3" src="static/img/user.png" href="" alt="">
          </span>
          <h4>
            <strong>Idris Yoga</strong>
          </h4>
          <p class="text-faded mb-0">I love it!</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Map -->
  <section id="contact" class="map">
    <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A&amp;output=embed"></iframe>
    <br />
    <small>
      <a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A"></a>
    </small>
  </section>

  <!-- Footer -->
  <footer class="footer text-center"> <!-- blablabla -->
    <div class="container">
      <ul class="list-inline mb-5">
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white mr-3" href="#">
            <i class="icon-social-facebook"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white mr-3" href="#">
            <i class="icon-social-twitter"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white" href="#">
            <i class="icon-social-github"></i>
          </a>
        </li>
      </ul>
      <p class="text-muted small mb-0">Copyright &copy; Your Website 2019</p>
    </div>
  </footer>

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Plugin JavaScript -->
  <script type="text/javascript" src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for this template -->
  <script type="text/javascript" src="{% static 'js/stylish-portfolio.min.js' %}"></script>

</body>

</html>