{% extends 'layout/base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <div class="row no-gutter">
        <div class="col-md-8 col-lg-2"></div>
        <div class="col-md-8 col-lg-8 mx-auto">
            <div class="card border-0 shadow my-5">
                <br><br>
                <div class="card-body p-5">
                    <div class="login d-flex align-items-center py-5">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-9 col-lg-8 mx-auto">
                                    <h3 class="login-heading mb-4">Penugasan</h3>
                                    <form action="/penugasan/post-penugasan/" method="POST">
                                        {% csrf_token %}

                                        <div class="form-group">
                                            <label for="inputPetugas">Petugas</label>
                                            <select name="petugas" class="form-control" id="inputPetugas" required>

                                                {% for i in petugas %}
                                                <header>Petugas</header>
                                                <option>{{i.0}}-{{i.1}}</option>
                                                {% endfor %}


                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <input name="mulai" type="date" class="form-control" id="inputTanggalMulai"
                                                placeholder="Tanggal Mulai" required>
                                        </div>

                                        <div class="form-group">
                                            <input name="selesai" type="date" class="form-control" id="inputTanggalSelesai"
                                                placeholder="Tanggal Selesai" required>
                                        </div>


                                        <div class="form-group">
                                            <label for="inputStasiun">Stasiun</label>
                                            <select name="stasiun" id="inputStasiun" class="form-control" placeholder="Stasiun"
                                                label="Stasiun" required>
                                                {% for i in stasiun %}
                                                <option>{{i.0}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>

                                        <button
                                            class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2"
                                            type="submit">Create</button>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-lg-2"></div>
    </div>
</div>
{% endblock %}