{% extends 'layout/base.html' %}
{% load static %}
{% block content %}

<div class="row no-gutter">
  <div class="col-md-8 col-lg-12">
    <div class="card border-0 shadow my-5 mx-auto" style="width: 70%; height: 80%;">
      <div class="card-body p-5">
        <div class="login d-flex align-items-center py-5">
          <div class="container">
            <div class="row">
              <div class="col-md-9 col-lg-8 mx-auto">
                <h3 class="login-heading mb-4">Create Acara</h3>
                <form action="/acara/post-acara/" method="POST">
                  {% csrf_token %}
                  <div class="form-group">
                    <input name="judul" type="text" class="form-control" id="inputJudulAcara" placeholder="Judul">
                  </div>

                  <div class="form-group">
                    <input name="deskripsi" type="text" class="form-control" id="inputDeskripsiAcara"
                      placeholder="Deskripsi">
                  </div>

                  <div class="form-label-group">
                    <select name="fee" id="inputGratis" class="form-control" placeholder="Gratis" required>
                      <option selected>gratis</option>
                      <option>berbayar</option>
                    </select>
                  </div>
                  <br>
                  <label>Tanggal Mulai</label>
                  <div class="form-group">
                    <input name="mulai" type="date" class="form-control" id="TanggalMulaiAcara" placeholder="Tanggal Mulai">
                  </div>
                  <label>Tanggal Selesai</label>
                  <div class="form-group">
                    <input name="selesai" type="date" class="form-control" id="TanggalSelesaiAcara" placeholder="Tanggal Selesai">
                  </div>

                  <label>Stasiun</label>
                  <div class="form-label-group">

                    <select name="stasiun" id="inputStasiun" class="form-control selectpicker" placeholder="Stasiun"
                      required multiple data-live-search="true">
                      {% for i in stasiun %}
                      <option>{{i.0}}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <br>  
                  <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2"
                    type="submit">Create</button>

                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $('select').selectpicker();
</script>
</div>

{% endblock %}