{% extends 'layout/base.html' %}
{% load static %}
{% block content %}

<!-- Create Stasiun Here -->
<section class="content-section bg-light" id="about">
  <div class="container text-center">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <h2>CREATE STASIUN</h2>
        <p class="lead mb-5">create your station here</p>
        <form action="/stasiun/post-stasiun/" method="POST">
          {% csrf_token %}

        <form>
          <div class="form-label-group">
            <label for="inputNamaVoucher">Nama</label>
            <input type="text" id="inputNamaVoucher" class="form-control" placeholder="Nama" required>
          </div>

          <div class="form-label-group">
            <label for="inputKategoriVoucher">Alamat</label>
            <input type="text" id="inputKategoriVoucher" class="form-control" placeholder="Alamat" required>
          </div>

          <div class="form-label-group">
            <label for="inputPoinVoucher">Longtitude</label>
            <input type="email" id="inputPoinVoucher" class="form-control" placeholder="Longtitude" required autofocus>
          </div>

          <div class="form-label-group">
            <label for="inputDeskripsiVoucher">Latitude</label>
            <input type="text" id="inputDeskripsiVoucher" class="form-control" placeholder="Latitude" required>
          </div>

          <br>
          <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2"
            type="submit">Create</button>
        </form>
      </div>
    </div>
  </div>
</section>

{% endblock content %}
