{% extends 'layout/base.html' %}
{% load static %}
{% block content %}
<link href="{% static 'css/liststasiun.css' %}" rel="stylesheet">
      </link>


<!-- Daftar Stasiun -->
<div class="container">
  <div class="cd-popup" role="alert">
      <div class="cd-popup-container">
         <p>Are you sure you want to delete this element?</p>
         <ul class="cd-buttons">
            <li onclick="yesFunction()"><a href="#0">Yes</a></li>
            <li onclick="cancelFunction()"><a href="#0">No</a></li>
         </ul>
        
      </div> <!-- cd-popup-container -->
   </div> <!-- cd-popup -->
  <div class="card border-0 shadow my-5">
      <br><br>
      
      <div class="card-body p-5">
          <h1>DAFTAR STASIUN</h1>
          <br>
          {% if request.session.role == "petugas" %}
              <table id ="dtBasic" class="table text-center table-hover ">
                      <thead class="thead-dark">
                        <tr>
                          <th scope="col">Alamat</th>
                          <th scope="col">Latitude</th>
                          <th scope="col">Longitude</th>
                          <th scope="col">Nama</th>
                          <th scope="col">Action</th>
                        </tr>
                      </thead>
                      <tbody>
                          {% for i in stasiun %}
                          <tr>
                            <th scope="row">{{i.1}}</th>
                            <!-- <td>{{i.5}}</td> -->
                            <td>{{i.3}}</td>
                            <td>{{i.2}}</td>
                            <td>{{i.4}}</td>
                            <!-- <td>{{i.5}}</td> -->
                      
                        <!-- <tr>
                          <th scope="row">Stasiun Basdat Depok Baru 1</th>
                          <td>Pocin</td>
                          <td></td>
                          <td></td> -->
                          <td>
                            <i class="fas fa-edit" id="{{i.0}}" data-toggle="modal" onclick="updateModal(this.id)" data-target="#exampleModalCenter"></i>
                            <i class="fas fa-trash-alt" id="{{i.0}}" onclick="deleteList(this.id)"></i>
                          </td>
                        </tr>
                        {% endfor %}

            
                      </tbody>
                    </table>
              {% elif request.session.role == "anggota" %}
              <table id ="dtBasic" class="table text-center table-hover ">
                  <thead class="thead-dark">
                    <tr>
                        <th scope="col">Alamat</th>
                        <th scope="col">Latitude</th>
                        <th scope="col">Longitude</th>
                        <th scope="col">Nama</th>
                        
                    
                    </tr>
                  </thead>
                  <tbody>
                      {% for i in stasiun %}
                      <tr>
                          <th scope="row">{{i.1}}</th>
                            <!-- <td>{{i.5}}</td> -->
                            <td>{{i.3}}</td>
                            <td>{{i.2}}</td>
                            <td>{{i.4}}</td>
                    
                    </tr>
                    {% endfor %}
                  
                  </tbody>
                </table>
            {% endif %}
      </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">Update Stasiun</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <div class="spinner-border false"role="status">
                  <span class="sr-only">Loading...</span>
              </div>
          
              <form id="load" class="true">
                  {% csrf_token %}
                  <div class="form-group">
                    <label for="formGroupExampleInput">Nama</label>
                    <input type="text" class="form-control" id="namaStasiun" placeholder="Nama">
                  </div>
                  <div class="form-group">
                    <label for="formGroupExampleInput2">Alamat</label>
                    <input type="text" class="form-control" id="alamatStasiun" placeholder="Alamat">
                  </div>
                  <div class="form-group">
                      <label for="formGroupExampleInput2">Latitude</label>
                      <input type="text" class="form-control" id="Latitude" placeholdeR="Latitude">
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput2">Longitude</label>
                        <input name="longitude" type="text" class="form-control" id="Longitude" placeholder="Longitude">
                      </div>
              </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" onclick="updateStasiun()">Save changes</button>
          </div>
        </div>
      </div>
    </div>
    
</div>


<script>
  function deleteList(x){
    $(".cd-popup").addClass("is-visible")
    $(".cd-popup").attr('id',x)
}

function updateStasiun(){
    id_stasiun = $(".modal-body").attr('id')
    nama = $('#namaStasiun').val()
    if(nama==''){
        nama = $('#namaStasiun').attr('placeholder')
    }
    alamat = $('#alamatStasiun').val()
    if(alamat==''){
        alamat=$('#alamatStasiun').attr('placeholder')
    }
    latitude = $('#Latitude').val()
    if(latitude==''){
        latitude = $('#Latitude').attr('placeholder')
    }
    longitude = $('#Longitude').val()
    if(longitude==''){
        longitude = $('#Longitude').attr('placeholder')
    }
    // stasiun = $('#inputStasiun').val()

    $.ajax(
        {
          url: "/stasiun/update-stasiun/",
            datatype: 'json',
            data: {
                'id_stasiun':id_stasiun,
                'alamat':alamat,
                'latitude':latitude,
                'longitude':longitude,
                'nama':nama,
            },
          method:'POST',
          success: function(result){
            location.reload()
            } ,
            error:function(a){
                alert(a)
                location.reload();

            }
           
        }
    );

}

function cancelFunction(){
    $('.cd-popup').removeClass('is-visible')
}

function yesFunction(){
    id = $(".cd-popup").attr('id')
    alert(id)
    $.ajax(
        {
          url: "/stasiun/delete-stasiun/",
            datatype: 'json',
            data: {'id':id},
          method:'POST',
          success: function(result){
            location.reload()
            }  
        }
        );
}
function updateModal(x){
    alert(x)
    $(".modal-body").attr('id',x) 
    $(".spinner-border").addClass("true")
    $(".spinner-border").removeClass("false")
    $("#load").addClass("false")
    $("#load").removeClass("true")
    $.ajax(
        {
          url: "/stasiun/detail-update-stasiun/",
            datatype: 'json',
            data: {'id':x},
          method:'POST',
          success: function(result){
            $(".spinner-border").addClass("false")
            $(".spinner-border").removeClass("true")
            $("#load").addClass("true")
            $("#load").removeClass("false")
            console.log(result)
            stasiun=''
            for(i=0; i<result.stasiun.length;i++){
                stasiun+='<option>'+result.stasiun[i]+'</option>'
            }
            $('#namaStasiun').attr('placeholder',result.stasiun[4])
            $('#alamatStasiun').attr('placeholder',result.stasiun[1])
            $('#Latitude').attr('placeholder',result.stasiun[3])
            $('#Longitude').attr('placeholder',result.stasiun[2])
           
            // $('#inputStasiun').html(
            //     `<option selected>`+result.nama_stasiun+`</option>`+
            //     stasiun         
            // )
            }  
        }
        );

}

</script>

{% endblock content %}
