{% extends 'layout/base.html' %}
{% load static %}
{% block content %}

  <!-- Create Sepeda Here -->
  <section class="content-section bg-light" id="about">
    <div class="container text-center">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <h2>CREATE SEPEDA</h2>
          <p class="lead mb-5">Create your Bike here</p>
          <form action="/sepeda/post-sepeda/" method="POST">
            {% csrf_token %}

            <label>Merk</label>
              <div class="form-group">
                <input name="merk" type="text" class="form-control" id="inputMerkSepeda" placeholder="Merk" required>
              </div>

              <label>Jenis</label>
                  <div class="form-group">
                    <input name="jenis" type="text" class="form-control" id="inputJenis" placeholder="Jenis" required>
                  </div>  
                    </div>    
                  </div>  

                  <label>Status</label>
              <div class="form-label-group">
                <select name="status" id="inputStatus" class="form-control"placeholder="Status"required>

                    <option>Tersedia</option>
                    <option>Tidak Tersedia</option>
                  </select>
              </div>

              <label>Stasiun</label>
              <div class="form-label-group">
      
            <select name="stasiun" id="inputStasiun" class="form-control"placeholder="Stasiun"required>
               
                {% for i in stasiun %}
                      <option>{{i.0}}</option>
                     
                    {% endfor %}
              </select>
          </div>

          <label>Penyumbang</label>
          <div class="form-label-group">
              <select name="penyumbang" id="inputPenyumbang" class="form-control"placeholder="Penyumbang" required>
                {% for i in penyumbang %}
                  <option>{{i.0}}</option>
                {% endfor %}
        
             
              </select>
          </div>
            
            <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Create</button>

          </form>

        </div>

          <br>

          <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2"
            type="submit">Create</button>

        </form>
      </div>
    </div>
  </div>
</section>

{% endblock content %}