{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>BikeSharing | D3</title>

  <!-- Bootstrap Core CSS -->
  <link type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.0/css/mdb.min.css" rel="stylesheet">
  <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />

  <!-- Custom Fonts -->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  <link type="text/css" href="{% static 'vendor/simple-line-icons/css/simple-line-icons.css' %}" rel="stylesheet">

  <!-- Custom CSS -->
  <link type="text/css" href="{% static 'css/stylish-portfolio.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/lists.css' %}" rel="stylesheet">

  <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet"> 
  <style>
    table {
        counter-reset: tableCount;     
    }
    .counterCell:before {              
        content: counter(tableCount); 
        counter-increment: tableCount; 
    }
</style>


</head>

<body id="page-top">

  <!-- Navbar -->
  <a class="menu-toggle rounded" href="#">
    <i class="fas fa-bars"></i>
  </a>
  <nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a class="js-scroll-trigger" href="#page-top"><img src="https://i.ibb.co/7kGQx4c/Bike-Sharinglogo.png" alt="Bike-Sharinglogo" border="0" height="100%" width="100%"></a>
      </li>

      {% if request.session.role == "anggota" %}
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="{% url 'index_landingpage' %}">Home</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="{% url 'daftarStasiun' %}">Daftar Stasiun</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="{% url 'daftarSepeda' %}">Daftar Sepeda</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#">Create Peminjaman</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#">Daftar Peminjaman</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="{% url 'top_up' %}">Top Up</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="{% url 'riwayat' %}">Riwayat Transaksi</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="{% url 'listsacara' %}">Daftar Acara</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#">Daftar Voucher</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="{% url 'logout' %}">Log out</a>
      </li>
      
      {% elif request.session.role == "petugas" %}
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="{% url 'listpetugas' %}">Daftar Penugasan</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="{% url 'createpetugas' %}">Tambah Penugasan</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="{% url 'daftarStasiun' %}">Daftar Stasiun</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="{% url 'create_stasiun' %}">Tambah Stasiun</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="{% url 'daftarSepeda' %}">Daftar Sepeda</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="{% url 'create_sepeda' %}">Tambah Sepeda</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="{% url 'listsacara' %}">Daftar Acara</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="{% url 'createacara' %}">Tambah Acara</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="{% url 'laporan' %}">Daftar Laporan</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#">Daftar Peminjaman</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#">Daftar Voucher</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#">Tambah Voucher</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="{% url 'logout' %}">Log out</a>
      </li>

      {% else %}
      <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="{% url 'login' %}">Log in</a>
      </li>
      {% endif %}
    </ul>
  </nav>

{% block content %}
{% endblock content %}

  <!-- Footer -->
  <footer class="footer text-center"> <!-- blablabla -->
    <div class="container">
      <ul class="list-inline mb-5">
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white mr-3" href="#">
            <i class="icon-social-facebook"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white mr-3" href="#">
            <i class="icon-social-twitter"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white" href="#">
            <i class="icon-social-github"></i>
          </a>
        </li>
      </ul>
      <p class="text-muted small mb-0">Copyright &copy; Bike Sharing 2019</p>
    </div>
  </footer>

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Plugin JavaScript -->
  <script type="text/javascript" src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for this template -->
  <script type="text/javascript" src="{% static 'js/stylish-portfolio.min.js' %}"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.0/js/mdb.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

</body>

</html>